.theme-dark {
	--grey:  rgba(108, 122, 137, 0.7);
	--dark-grey: rgba(22, 22, 22, 0.7);
	--light-grey: rgba(202, 211, 224, 0.7);
	--dark-blue: rgba(17, 24, 92, 0.7);
	--light-blue: rgba(101, 163, 252, 0.7);
	--light-red: rgba(252, 173, 165, 0.7);
	--dark-red: rgba(122, 31, 20, 0.7);
	--light-green: rgba(164, 252, 190, 0.7);
	--dark-green: rgba(13, 77, 61, 0.7);
	--light-orange: rgba(253, 235, 133, 0.7);
	--dark-orange: rgba(87, 75, 10, 0.7);
	--field-border-radius: 5px;
	--field-padding: 3px;
}

span.dataview.inline-field {
    white-space: nowrap;
}

span.dataview.inline-field-key {
	display: none;
}

span.dataview.inline-field-value,
span.dataview.inline-field-standalone-value {
	padding: var(--field-padding);
	margin-left: 3px;
	border-radius: var(--field-border-radius);
    background: var(--dark-grey);
	color: var(--grey);
}

span.dataview.inline-field-value.inherit-color .internal-link,
span.dataview.inline-field-standalone-value.inherit-color .internal-link {
    color: inherit !important;
}

/******* Creation *******/

span.dataview.inline-field-key:is([data-dv-key=creation]) + span.dataview.inline-field-value::before {
	content: '🌱 ';
}

/******* Completion *******/

span.dataview.inline-field-key:is([data-dv-key=completion]) + span.dataview.inline-field-value::before {
	content: '✔️ ';
}

/******* Priority *******/

span.dataview.inline-field:has(> span.dataview.inline-field-key:is([data-dv-key=priority_highest]))::after {
	content: '↑↑↑';
	padding: var(--field-padding);
    border-radius: var(--field-border-radius);
    background: var(--dark-red);
	color: var(--light-red);
}

span.dataview.inline-field:has(> span.dataview.inline-field-key:is([data-dv-key=priority_high]))::after {
	content: '↑↑';
	padding: var(--field-padding);
    border-radius: var(--field-border-radius);
    background: var(--dark-orange);
	color: var(--light-orange);
}

span.dataview.inline-field:has(> span.dataview.inline-field-key:is([data-dv-key=priority_medium]))::after {
	content: '↑';
	padding: var(--field-padding);
    border-radius: var(--field-border-radius);
	background: var(--grey);
	color: var(--light-grey);
}

span.dataview.inline-field:has(> span.dataview.inline-field-key:is([data-dv-key=priority_low]))::after {
	content: '↓';
	padding: var(--field-padding);
    border-radius: var(--field-border-radius);
    background: var(--dark-blue);
	color: var(--light-blue);
}

span.dataview.inline-field:has(> span.dataview.inline-field-key:is([data-dv-key=priority_lowest]))::after {
	content: '↓↓';
	padding: var(--field-padding);
    border-radius: var(--field-border-radius);
    background: var(--dark-blue);
	color: var(--light-blue);
}

span.dataview.inline-field-key:is([data-dv-key=priority_highest]) + span.dataview.inline-field-value,
span.dataview.inline-field-key:is([data-dv-key=priority_high]) + span.dataview.inline-field-value,
span.dataview.inline-field-key:is([data-dv-key=priority_medium]) + span.dataview.inline-field-value,
span.dataview.inline-field-key:is([data-dv-key=priority_low]) + span.dataview.inline-field-value,
span.dataview.inline-field-key:is([data-dv-key=priority_lowest]) + span.dataview.inline-field-value{
	display: none;
}

/******* Due ********/

span.dataview.inline-field-key:is([data-dv-key=due]) + span.dataview.inline-field-value::before {
	content: '🎯 ';
}

span.dataview.inline-field-standalone-value.default:is([data-dv-key=due]) {
	background: var(--dark-grey);
	color: var(--grey);
}

span.dataview.inline-field-standalone-value:is([data-dv-key=due]) {
	background: var(--light-green);
	color: var(--dark-green);
}

span.dataview.inline-field-standalone-value.overdue:is([data-dv-key=due]) {
	background: var(--light-red);
	color: var(--dark-red);
}

span.dataview.inline-field-standalone-value.due-soon:is([data-dv-key=due]) {
	background: var(--light-orange);
	color: var(--dark-orange);
}

/******* Person ********/

span.dataview.inline-field-key:is([data-dv-key=person]) + span.dataview.inline-field-value::before {
	content: '👨‍💼 ';
}

/******* Quick ********/

span.dataview.inline-field:has(> span.dataview.inline-field-key:is([data-dv-key=quick]))::after {
	content: '⚡';
	padding: var(--field-padding);
    border-radius: var(--field-border-radius);
    background: var(--dark-grey);
	color: var(--grey);
}

span.dataview.inline-field-key:is([data-dv-key=quick]) + span.dataview.inline-field-value{
	display: none;
}

/****** Link *******/

span.dataview.inline-field-standalone-value:is([data-dv-key=link]) {
	background: var(--dark-blue);
	color: var(--light-blue);
}

/****** Scheduled *******/

span.dataview.inline-field-key:is([data-dv-key=scheduled]) + span.dataview.inline-field-value::before {
	content: '📅 ';
}

span.dataview.inline-field-standalone-value:is([data-dv-key=scheduled]) {
	background: var(--light-grey);
	color: var(--dark-grey);
}

span.dataview.inline-field-standalone-value.missed:is([data-dv-key=scheduled]) {
	background: var(--light-red);
	color: var(--dark-red);
}

span.dataview.inline-field-standalone-value.today:is([data-dv-key=scheduled]) {
	background: var(--light-green);
	color: var(--dark-green);
}